<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Operações</title>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Controladora de Ações</a>
            <button class="navbar-toggler" type="button" data-cbs-toggle="collapse" data-bs-target="/"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/acoes">Ações</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/operacoes">Operações</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/carteira">Carteira</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="h1">Comprar uma ação</div>
        <form action="/acao_comprar" method="post">
            <div class="row">
                <div class="col col-4">
                    <label for="chooseAcao">Escolha uma ação</label>
                    <select name="acao" id="chooseAcao" class="form-select">
                        <option value="-1" selected></option>
                        {$listaAcoes}
                      </select>
                </div>
                <div class="col col-2">
                    <label for="quantidadeAcao">Quantidade</label>
                    <input required type="number" class="form-control" id="quantidade" name="quantidade">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col col-md-4">
                    <button type="submit" class="btn" style="background-color: #e91b47;">Comprar</button>
                </div>
            </div>
        </form>
    </div>
    <hr>

    <div class="container">
        <h1>Ações disponiveis</h1>
        <div class="row">
            <div class="col-12">
                <table id="acoes" class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Codigo</th>
                            <th scope="col">Identificacao</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Francionaria</th>
                            <th scope="col">Setor</th>
                            <th scope="col">Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        {$listaAcoesDisponiveis}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="container">
        <h1>Minhas transações</h1>
        <div class="row">
            <div class="col-12">
                <table id="transacoes" class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Codigo</th>
                            <th scope="col">Identificacao</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Francionaria</th>
                            <th scope="col">Setor</th>
                            <th scope="col">Estilo</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Quantidade</th>
                            <th scope="col">Valor total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {$listaTransacoes}
                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <div class="container">
        <div class="col-md-3">
            <a href="/" class="btn btn-primary btn-md">Voltar</a>
        </div>
    </div>

    <script>
        var cells = document.getElementById("transacoes").getElementsByTagName("td");
        for (var i = 0; i < cells.length; i++) {
            console.log(cells);
            if(cells[i].id === "tipo")
            {
                if(cells[i].innerText === '1')
                {
                    cells[i].innerText = 'Preferencial';
                }
                else if(cells[i].innerText === '2')
                {
                    cells[i].innerText = 'Ordinaria';
                }
            }
            else if(cells[i].id === "fracionaria")
            {
                if(cells[i].innerText === 'S')
                {
                    cells[i].innerText = 'Sim';
                }
                else if(cells[i].innerText === 'N')
                {
                    cells[i].innerText = 'Não';
                }
            }
            else if(cells[i].id === "setor")
            {
                if(cells[i].innerText === '5')
                {
                    cells[i].innerText = 'Saúde';
                }
                else if(cells[i].innerText === '1')
                {
                    cells[i].innerText = 'Comunicações';
                }
                else if(cells[i].innerText === '2')
                {
                    cells[i].innerText = 'Bens industriais';
                }
                else if(cells[i].innerText === '3')
                {
                    cells[i].innerText = 'Consumo ciclico';
                }
                else if(cells[i].innerText === '4')
                {
                    cells[i].innerText = 'Financeiro';
                }
            }
            else if(cells[i].id === "estilo")
            {
                if(cells[i].innerText === 'C')
                {
                    cells[i].innerText = 'Compra';
                    cells[i].style.backgroundColor = "green";
                }
                else if(cells[i].innerText === 'V')
                {
                    cells[i].innerText = 'Venda';
                    cells[i].style.backgroundColor = "red";
                }
            }
        }

        var cells2 = document.getElementById("acoes").getElementsByTagName("td");
        for (var i = 0; i < cells2.length; i++) {
            if(cells2[i].id === "tipo")
            {
                if(cells2[i].innerText === '1')
                {
                    cells2[i].innerText = 'Preferencial';
                }
                else if(cells2[i].innerText === '2')
                {
                    cells2[i].innerText = 'Ordinaria';
                }
            }
            else if(cells2[i].id === "fracionaria")
            {
                if(cells2[i].innerText === 'S')
                {
                    cells2[i].innerText = 'Sim';
                }
                else if(cells2[i].innerText === 'N')
                {
                    cells2[i].innerText = 'Não';
                }
            }
            else if(cells2[i].id === "setor")
            {
                if(cells2[i].innerText === '5')
                {
                    cells2[i].innerText = 'Saúde';
                }
                else if(cells2[i].innerText === '1')
                {
                    cells2[i].innerText = 'Comunicações';
                }
                else if(cells2[i].innerText === '2')
                {
                    cells2[i].innerText = 'Bens industriais';
                }
                else if(cells2[i].innerText === '3')
                {
                    cells2[i].innerText = 'Consumo ciclico';
                }
                else if(cells2[i].innerText === '4')
                {
                    cells2[i].innerText = 'Financeiro';
                }
            }
        }

    </script>
    
</body>

</html>